<header>
  <form class="" action="/overview" method="get">
    <fieldset>
      <label for="ingredient">Ingredient</label>
      <input type="text" required name="ingredient">
    </fieldset>
    <input type="submit" value="find cocktails with ingredient">
  </form>
</header>