<%- include('partials/head') %>

  <article class="instructions">

    <h1>Find your new favorite cocktail</h1>
    <p>type the ingredient you wish to make cocktails with in the field above!</p>

  </article>


  <%- include('partials/footer') %>