<header>
  <form class="" action="/overview" method="get">
    <fieldset>
      <label for="ingredient">Ingredient</label>
      <input type="text" required name="ingredient">
    </fieldset>
    <!--  <fieldset>
      <label>Gin</label>
      <input type="radio" name="drink" value="Gin" required>
      <label>Light rum</label>
      <input type="radio" name="drink" value="Light rum" required>
      <label>Amaretto</label>
      <input type="radio" name="drink" value="Amaretto" required>
      <label>Brandy</label>
      <input type="radio" name="drink" value="Brandy" required>
    </fieldset>   -->
    <input type="submit" value="find cocktails with ingredient">
  </form>
</header>

<main>