@import "reset.css";

ul{
  display: flex;
  flex-wrap: wrap;
}
form{
  text-align: center;
}

fieldset:nth-of-type(2){

}
li{
  width: 32%;
}
li img{
  width: 100%;
}
li a{

}

ul{
  text-align: center;
}

li{
  list-style: none;
  width: 20%;
  text-align:center;
  color: white;
  margin: 0.5%;
  background: lightslategray;
  border-radius: 5px;
}
